table{
    border: 1px solid;
    width: 50%;
    border-collapse: collapse;
}
th{
    height: 70px;
    text-align: left;
    background-color: #04a66d;
    color: white;
}
td{
    text-align: center;
    height: 50px;
    vertical-align: bottom;
    padding: 15px;
}
tr{
    background-color: coral
}